.menu{
	z-index:7;
	position:fixed;
	}
.navigation{
    margin: 0px auto;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
}
.navigation .item{
    position:fixed;
}
.user{
    top:125px;
    left:100px;
}
.home{
   top:50px;
   left:350px;
}
.shop{
   top:90px;
   left:600px;
}
.camera{
   top:230px;
   left:850px;
}
.fav{
   top:420px;
   left:1100px;
}
a.icon{
    width:52px;
    height:52px;
    position:absolute;
    top:0px;
    left:0px;
    cursor:pointer;
}
.user a.icon{
    background:transparent url(../images/user.png) no-repeat 0px 0px;
}
.home a.icon{
    background:transparent url(../images/home.png) no-repeat 0px 0px;
}
.shop a.icon{
    background:transparent url(../images/shop.png) no-repeat 0px 0px;
}
.camera a.icon{
    background:transparent url(../images/camera.png) no-repeat 0px 0px;
}
.fav a.icon{
    background:transparent url(../images/fav.png) no-repeat 0px 0px;
}
.navigation .item a.active{
    background-position:0px -52px;
}
.item img.circle{
    position:absolute;
    top:0px;
    left:0px;
    width:52px;
    height:52px;
    opacity:0.1;
}
.item h2{
    position:absolute;
    width:147px;
    height:52px;
    color:#222;
    font-size:18px;
    top:0px;
    left:52px;
    text-indent:10px;
    line-height:52px;
    text-shadow:1px 1px 1px #fff;
    text-transform:uppercase;
cursor:pointer;
}
.item h2.active{
    color:#fff;
    text-shadow:1px 0px 1px #555;
}
.item ul{
    list-style:none;
    position:absolute;
    top:40px;
    left:-15px;
    display:none;
}
.item ul li{
    font-size:15px;
    text-decoration:none;
    letter-spacing:1.5px;
    text-transform:uppercase;
    color:#222;
    padding:3px;
    float:left;
    clear:both;
    width:100px;
    text-shadow:1px 1px 1px #fff;
text-align:center;
}
.item ul li:hover{
    background-color:#fff;
    color:#444;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:1px 1px 4px #666;
    -webkit-box-shadow:1px 1px 4px #666;
    box-shadow:1px 1px 4px #666;
cursor:pointer;
}
form{
	display:none;
}
form input[type=text],
  form input[type=submit] {
    display:block;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 12px;
    width: 150px;
    height: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
  }
  input[type=text] {
    position:relative;
    left:-20px; top: 5px;
    background: white;
    border: solid 2px #fff;

  }
  form input[type=submit] {
    width: 30px;
    position:relative;
    top:10px;
    left:40px;
    cursor: pointer;
    -webkit-appearance: none;
    color: black;
    background: blue;
    border:none;
  }
