@charset "utf-8";
/* CSS Document */
#container1
{
	height:100%;
	width:100%;
}
#toptab
{
	height:8%;
	width:100%;
	float:left;
}
ul
{
	list-style-type: none;
	display:inline;
}
ul li
{
	display:inline;
	margin:0 10px 0 0;   
}
.nope
{
	text-decoration:none;
}
.tab_ele
{
	float:left;
	background-color:#CCC;
	opacity:0.5;
	height:100%;
	width:auot;
	margin-left:20px;
	padding:8px 8px 8px 8px;
	font-family:"Adobe Gothic Std B";
	color:#333;
	cursor:pointer;
}
.tab_ele_no
{
	float:left;
	background-color:#CCC;
	opacity:0.5;
	height:100%;
	width:auot;
	margin-left:20px;
	padding:8px 8px 8px 8px;
	font-family:"Adobe Gothic Std B";
	color:#333;
}
.tab_ele:hover
{
	-webkit-animation:zfac 2s;
	-webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes zfac{
	0% {-webkit-transform:scale(1,1);
	    opacity:0.5;
		color:#333;}
	10% {-webkit-transform:scale(1.2,1.2);
	    opacity:0.75;
		background-color:#CCC;}
	40% {-webkit-transform:scale(1,1);
	      opacity:1.0;
		  color:#FFF;
		  background-color:#000;}
    100% {-webkit-transform:scale(1,1);
	      opacity:1.0;
		  color:#FFF;
		  background-color:#C00;}

}
#pics
{
	margin-left:1.5%;
	margin-top:1.5%;
	border-style:solid;
	border-color:#FFF;
	border-width:2%;
	float:left;
	width:30%;
	height:50%;
	font-family:"Adobe Gothic Std B";
	color:#FFF;
	font-weight:bold;
	font-size:16px;
}

#news
{
	margin-left:1.5%;
	margin-top:1.5%;
	border-style:solid;
	border-color:#FFF;
	border-width:2%;
	float:left;
	width:40%;
	height:84%;
	font-family:"Adobe Gothic Std B";
	color:#FFF;
	font-weight:bold;
	font-size:16px;
}

#matches
{
	margin-left:1.5%;
	margin-top:1.5%;
	border-style:solid;
	border-color:#FFF;
	border-width:2%;
	float:left;
	width:23.5%;
	height:84%;
	font-family:"Adobe Gothic Std B";
	color:#FFF;
	font-weight:bold;
	font-size:16px;
}

.match_ele
{
	margin-left:1.5%;
	margin-top:1.6%;
	border-style:solid;
	border-color:#FFF;
	border-width:2%;
	float:left;
	width:95%;
	height:15%;
	font-family:"Adobe Gothic Std B";
	color:#FFF;
	font-weight:bold;
	font-size:18px;
	background-color:#666;
}

.match_ele:hover
{
	-webkit-animation: glow_box 3s;
	-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes glow_box
{
	0% { background-color:#CCC;}
	100% { background-color:#F00;}
}

.up_comin
{
	margin-left:-30.5%;
	margin-top:26.5%;
	
	border-style:solid;
	border-color:#FFF;
	border-width:2%;
	float:left;
	
	
	width:30%;
	height:30%;
	
	
	font-family:"Adobe Gothic Std B";
	color:#FFF;
	font-weight:bold;
	font-size:16px;
	background-color:#000;
}

#admin_disp
{
	display:inline-block;
	visibility:hidden;
}

.up_comin:hover
{
	-webkit-animation:clrcng 2s;
	-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes clrcng
{
	0% {background-color:#000;}
	100% {background-color:#900;}
	}

.pic_cir
{
	background-color:#000;
	float:left;
	height:16.25%;
	width:16.25%;
	margin-left:3%;
	margin-bottom:3%;
	z-index:-1;
}
.pic_cir:hover
{
	-webkit-animation:picfac 2s;
	-webkit-animation-fill-mode:forwards;
	z-index:100;
	position:absolute;
	left:0px;
}
@-webkit-keyframes picfac{
	0% {position:absolute;}
	100%{z-index:100;
	background-color:#FFF;
	position:absolute;
	height:39%;
	width:28%;
	left:0px;
	margin-left:3%;
	margin-bottom:3%;
}
}

.news_ele
{
	width:93.5%;
	height:8%;
	background-size:cover;
	margin-left:3%;
	margin-bottom:3%;
}

.news_ele:hover
{
	-webkit-animation:glw 2s;
	-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes glw
{
	0% {}
	100% {background-color:#000};
}

#acc_code
{
	width:100%;
	height:60%;
	border-color:#000;
	border-width:thick;
	font-family:"Adobe Gothic Std B";
}

.btn
{
	border-color:#000;
	border-width:thick;
	background-color:#F00;
	color:#FFF;
	font-family:"Adobe Gothic Std B";	
}

#container2
{
	height:100%;
	width:100%;
	margin-top:1%;
}
#toptab2
{
	margin-left:0.5%;
	margin-top:2.10%;
	margin-bottom:10%;
	height:8%;
	width:auto;
}
.det
{
	margin-left:1.5%;
	margin-top:1.5%;
	border-style:solid;
	border-color:#000;
	border-width:2%;
	float:left;
	width:80.1%;
	height:5.5%;
	font-family:"Adobe Gothic Std B";
	color:#FFF;
	font-weight:bold;
	font-size:16px;
	background-color:#000;
}

@-webkit-keyframes glow
{
	0% { color:#FFF;}
	100% { color:#36F;}
}
#top_panel
{ 
 float:left;
 width:auto;
 height:10%;
}

#banner
{
	width:100%;
	height:9.75%;
	margin-top:-0%;
	margin-bottom:1%;
	font-family:"Adobe Gothic Std B";
	text-align:center;
	float:left;
	color:#000;
	font-size:220%;
}

#letter
{
	font-size:500%;
	font-weight:bold;
	margin-left:25.5%;
	margin-top:-10%;
}

#letter : hover
{
	-webkit-animation: letclr 2s;
	-webkit-animation-fill-mode:forwards;
}

#r_cont
{
	height:100%;
	width:22%;
	float:right;
}

#list
{
	margin-top:0.5%;
	height:97.25%;
	float:right;
	width:95%;
	border-style:solid;
	border-color:#FFF;
	border-width:2%;
	font-family:"Adobe Gothic Std B";
	color:#FFF;
	font-weight:bold;
	font-size:16px;
	overflow:scroll;
	overflow-x:hidden;
}

@-webkit-keyframes letclr
{
	0% {}
	100% { color:#030;}
}

.pla_det
{
	background-size:cover;
	
	background-image:url(Res/tran.png);
	font-family:"Adobe Gothic Std B";

	font-size:12px;
	color:#000;
	border-style:solid;
	border-color:#000;
	border-width:2%;
	margin-top:1.5%;
	margin-left:2%;
	width:94%;
	height:10%;
	text-wrap:suppress;
}

.pla_det:hover p
{
	-webkit-animation:pldet 1s;
	-webkit-animation-fill-mode:forwards;
}
.pla_det:hover 
{
	background-image:url(Res/tran_p.png);
	border-color:#FFF;
}

@-webkit-keyframes pldet
{
	0% { -webkit-transform:scale(1,1)}
	25% { -webkit-transform:scale(1.1,1.1)}
	50% { -webkit-transform:scale(1,1)}
	100% { -webkit-transform:scale(1,1);}
}

#pla_map
{
	float:left;
	width:70%;
	height:97%;
	margin-left:2%;
	margin-top:1%;
}

.ui-widget-content.pla
{
	background-image:url(Res/pntr.png);
	background-size:contain;
	font-family:"Adobe Gothic Std B";
	font-size:12px;
	color:#FFF;
	height:14%;
	width:10%;
	cursor:pointer;
}

.big_txt
{
	font-weight:bolder;
	font-size:24px;
}

.sm_txt
{
	margin-top:-33%;
	color:#B00000;
	font-size:15px;
}

.pla:hover
{
	background-image:url(Res/pntr_o.png);
	-webkit-animation:bigme 1s;
	-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes bigme
{
	0% {}
	20% { -webkit-transform:scale(1.1,1.1);}
	50% { -webkit-transform:scale(1,1);}
	100% { -webkit-transform:scale(1,1);}
	
}

.pl_pic
{
	background-size:cover;
	height:100%;
	width:30%;
	float:right;
	margin-top:-26%;
}

